/* Estilos da pagina index */

main {
    text-align: center;
}

.devaria-cast figure img {
    width: 100%;
}

main h3 {
    font-size: 1.2em;
}

main section abbr {
    color: #25cbd3;
}

@media screen and (min-width: 992px) {
    .devaria-cast {
    width: 320px ;
    }
    .devaria-cast, .video {
        display: inline-block;
    }
    .azure blockquote {
        width: 70%;
        margin: auto;
        margin-bottom: 25px;
        text-align: center;
    }
}

